language: generic

sudo: required

services:
  - docker

before_install:
  - docker build -t orkhanrustamli/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true orkhanrustamli/docker-react npm run test
